<% content_for :m_title do %>About<% end %>

<h1>Open Meeting?</h1>

<p>Long time ago, I planned to set up a meeting with my friends. First of all, I decided to use our lovely social network. However, it wasn't easy. Not all of them happened not to actively use the same network. I thought, "Oh god. if I had to set up multiple invitations just to get everyone, I would need to clone myself to manage the invitation on each social network." Eventually, before I was at my limit, I decided to use my old friend iCal to manage the problem.</p>
<p>Does it the problem? Not really. When I use my iCal to manage the meetings, I can't get the status as not everyone uses iCal. It is even worse if invitees regularly use different softwares, for example, Microsoft Outlook or Google Calendar. In the end, I can only manage the electronic records of my meetings but I cannot use most out of what iCal, Microsoft Outlook or Google Calendar can do.</p>
<p>A while after that, I decided to build the system that:</p>
<ul>
  <li>I didn't have to register (sign up) to use,&nbsp;</li>
  <li>my friends didn't need to be on any social networks or use the same software,</li>
  <li>it should be easy enough to use</li>
  <li>and secure enough to protect the information about the meeting.</li>
</ul>
<p>So, that's where <a title="Open Meeting" href="http://om.shiroyuki.com">Open Meeting</a> comes.</p>
<h3>What is Open Meeting?</h3>
<p><a title="Open Meeting" href="http://om.shiroyuki.com">Open Meeting</a> is a web service helping people to organize meetings or events. It is free for all. It is made on top of the combination with <a title="Ruby on Rails Web Framework" target="_blank" href="http://www.rubyonrails.org">Ruby on Rails</a> and <a title="Project Yotsuba" href="http://yotsuba.shiroyuki.com">Yotsuba</a>/<a title="CherryPy Web Framework" target="_blank" href="http://cherrypy.org">CherryPy</a>. It is made just as an intermediate organizer, not a replacement of traditional organizers.</p>
<h3>What can it do now?</h3>
<ul>
  <li>Zero registration (using Twitter account).</li>
  <li>Set up, manage and organize meetings or events.</li>
  <li>Send updates to participants or invitees, both automatically and on-demand.</li>
  <li>Protect the information of a meeting or an event with password.</li>
  <li>Invite people with just email.</li>
</ul>
<h3>Get started</h3>
<p>Seriously, I don't where to begin telling you how to use it. I wish it was.</p>
<ol> </ol>
<h3>What is the limitation?</h3>
<ul>
  <li>The timezone is currently fixed to GMT.</li>
  <li>The server is slow.</li>
  <li>Interactions with data are limited for usability and technical issue.</li>
  <li>It does support unicode but the interface is currently available in English.</li>
  <li>Open Meeting is tested on Opera, Apple Safari, Mozilla Firefox and Google Chrome (actually Chromium) for Apple Mac OS X 10.6 and Debian GNU/Linux. If you are using IE 6, I am truly sorry but I don't support it.</li>
</ul>

<h2>What does "pre-alpha" mean?</h2>

<p>
  Even though Open Meeting is made with awesomeness in mind, the whole service
  is just the concept and it is still heavily under construction. See the
  <%= link_to "terms of services", "/terms" %> for how far you can use.
</p>

<h2>Technology behind Open Meeting</h2>

<p>
  Open Meeting is proudly made with
  <%= link_to "Debian GNU/Linux", "http://debian.org" %>,
  <%= link_to "Apple Mac OS X", "http://www.apple.com/macosx/" %>,
  <%= link_to "Python", "http://python.org" %>,
  <%= link_to "CherryPy", "http://cherrypy.org" %>,
  <%= link_to "Yotsuba", "http://yotsuba.shiroyuki.com" %>,
  <%= link_to "Ruby", "http://ruby-lang.org" %>,
  <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>,
  <%= link_to "Twitter (with RESTful API and OAuth)", "http://twitter.com" %>
</p>
